.row1 {
    margin-left: 4rem;
    margin-top: 4rem;
    font-size:0;
}
.row-even, .row-odd {
    margin-left:4rem;
    font-size:0;
}
.row1 div, .row-even div, .row-odd div {
    width: 70px;
    height: 60px;
    border: 1px solid black;
    display: inline-block;
    position: relative;
    font-size:1rem;
}

.row1 div:nth-child(even) ,.row-even div:nth-child(even), .row-odd div:nth-child(odd){
    background-color: black;
}

.row1 div:nth-child(odd), .row-even div:nth-child(odd),.row-odd div:nth-child(even) {
    background-color:burlywood;
}



.row1 div span:first-of-type{
    position: absolute;
    left: 43%;
    top: -20px;
}
.row1 div:first-of-type span:last-of-type{
    position: absolute;
    left: 43%;
    top: -20px;
}
.row1 div:last-of-type span:last-of-type, .row-even div:last-of-type span:last-of-type, .row-odd div:last-of-type span:last-of-type{
    position: absolute;
    right: -20px;
    top: 43%;
}

.row1 div:first-of-type span:last-of-type, .row-even div:first-of-type span:last-of-type, .row-odd div:first-of-type span:last-of-type{
    position: absolute;
    left: -20px;
    top: 43%;
}
.row-odd:last-of-type div span:first-of-type{
    position: absolute;
    left: 43%;
    bottom: -20px;
}